<div class="container mx-auto px-4">
  <!-- Header Section -->
  <div class="flex items-center justify-between flex-wrap mb-6">
    <h1 class="text-3xl font-bold">Customers</h1>

    <!-- Add New Customer Button -->
    <%= link_to new_customer_path, class: button_class(theme: "primary") do %>
      Add New Customer
    <% end %>
  </div>

  <!-- Table Section -->
  <table class="table-auto border-collapse border-slate-400 w-full">
    <thead class="bg-slate-50 dark:bg-slate-700">
      <tr>
        <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left">Name</th>
        <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left">Email</th>
        <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @customers.each do |customer| %>
        <tr class="border-t">
          <td class="border border-slate-300 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400"><%= customer.name %></td>
          <td class="border border-slate-300 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400"><%= customer.email %></td>
          <td class="border border-slate-300 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400">
            <%= link_to 'View Transactions', customer_path(customer), class: "text-blue-500 hover:underline" %> |
            <%= link_to 'Edit', edit_customer_path(customer), class: "text-yellow-500 hover:underline" %> |
            <%= link_to 'Delete', customer_path(customer), method: :delete, data: { confirm: 'Are you sure?' }, class: "text-red-500 hover:underline" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
