<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between mb-6 flex-wrap">
    <h1 class="font-bold text-3xl mb-6">Edit Product</h1>
    <% if @product.persisted? %>
      <%= button_to 'Destroy', @product, method: :delete, class: "text-red-700 underline", data: { turbo_confirm: 'Are you sure?' } %>
    <% end %>
  </div>

  <% if @product.errors.any? %>
    <div class="error-message mb-4 p-4 bg-red-100 text-red-700 rounded-md">
      <h2 class="font-semibold">There were some errors with your submission:</h2>
      <ul>
        <% @product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with(model: @product, local: true, class: "space-y-4", multipart: true) do |f| %>
    <div>
      <%= f.label :name, "Product Name", class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_field :name, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>
    </div>

    <div>
      <%= f.label :price, "Price", class: "block text-sm font-medium text-gray-700" %>
      <%= f.number_field :price, step: 0.01, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>
    </div>

    <div>
        <%= f.label :quantity, "Quantity", class: "block text-sm font-medium text-gray-700" %>
        <%= f.number_field :quantity, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>
    </div>

    <!-- Image Upload Field -->
    <div>
      <%= f.label :image, "Product Image", class: "block text-sm font-medium text-gray-700" %>
      <%= f.file_field :image, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>

      <!-- Display current image if it exists -->
      <% if @product.image.attached? %>
        <div class="mt-4">
          <p>Current Image:</p>
          <%= image_tag @product.image.variant(resize_to_limit: [300, 300]), class: "max-w-xs mt-2" %>
        </div>
      <% end %>
    </div>

    <!-- Description Field -->
    <div>
      <%= f.label :description, "Description", class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_area :description, rows: 5, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>
    </div>

    <div>
      <%= f.submit "Update Product", class: "w-full bg-blue-600 text-white py-2 px-4 rounded-md shadow-md hover:bg-blue-700" %>
    </div>
  <% end %>
</div>
