<div class="max-w-6xl mx-auto px-4 py-8 bg-white rounded-lg shadow-md">
  <h1 class="font-bold text-3xl mb-6 text-gray-800">Sale List</h1>

  <!-- Align button to the right -->
  <div class="flex justify-end mb-4">
    <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded border-2 border-red-500" href="/sales/new">Add New Sale</a>
  </div>

  <!-- Table for Sale List -->
  <table class="min-w-full table-auto mt-4">
    <thead>
      <tr class="text-center text-lg font-bold text-gray-800">
        <th class="px-6 py-4">Product</th>
        <th class="px-6 py-4">Quantity</th>
        <th class="px-6 py-4">Total Price</th>
        <th class="px-6 py-4">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @sales.each do |sale| %>
        <tr class="border-t">
          <td class="px-4 py-2"><%= sale.product_name %></td>
          <td class="px-4 py-2"><%= sale.quantity %></td>
          <td class="px-4 py-2"><%= number_to_currency(sale.total_price) %></td>
          <td class="px-4 py-2">
            <%= link_to 'Edit', edit_sale_path(sale), class: "text-blue-500 hover:underline" %> |
            <%= link_to 'Delete', sale, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-red-500 hover:underline" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
