<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Fish</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to fish_index_path, class: button_class(theme: "transparent") do %>
        All Fish
      <% end %>
      <%= link_to edit_fish_path(@fish), class: button_class(theme:"primary") do %>
        Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
    <!-- Name -->
    <li>
      <p class="font-semibold">Name:</p>
      <p><%= @fish.name %></p>
    </li>
    
    <!-- Price -->
    <li>
      <p class="font-semibold">Price:</p>
      <p><%= @fish.price %></p>
    </li>

    <!-- Species -->
    <li>
      <p class="font-semibold">Species:</p>
      <p><%= @fish.species %></p>
    </li>

    <!-- Size -->
    <li>
      <p class="font-semibold">Size:</p>
      <p><%= @fish.size %> cm</p>
    </li>

    <!-- Water Type -->
    <li>
      <p class="font-semibold">Water Type:</p>
      <p><%= @fish.water_type.capitalize %></p> <!-- Capitalize the first letter of water type -->
    </li>

    <!-- Quantity -->
    <li>
      <p class="font-semibold">Quantity:</p>
      <p><%= @fish.quantity %></p>
    </li>

    <!-- Fish Image -->
    <li>
      <p class="font-semibold">Image:</p>
      <% if @fish.image.attached? %> <!-- Check if an image is attached -->
        <%= image_tag @fish.image, alt: @fish.name, class: "mt-4 rounded-lg shadow-md" %>
      <% else %>
        <p>No image available</p>
      <% end %>
    </li>

  </ul>
</div>
